/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.project
/public/assets
/public/eadmin
/public/vendor
/bower_components
.settings
.idea
/www/assets
/packages
/www/vendor
/resources/assets/vendor
/resources/assets/js/vendor