@import "variables";
@import "mixins";

//navigation style
	.navigation-holder{
	  background: transparent;
	  line-height: 1;
	  text-align: right;
	}
	.dropdown,
	.menu-link{
	  display: inline-block;
	  width: 8%;
	  padding: 3px 0;
	  text-align: center;
	  font-family: 'nexa_light';
	}
	.icon-select{
	  line-height: 0;
	  &:before{
		display: inline-block;
		vertical-align: middle;
		transition: transform 0.4s;
	  }
	}
	.dropdown.open .icon-select:before{
		transform: rotate(180deg);
	  }
	.dropdown > a,
	a.menu-link{
	  color: #fff;
	}
	.navigation-holder > a:last-of-type{
	  border-left: 1px solid rgba(255, 255, 255, 0.502);
	  text-align: right;
	}
	.dropdown-menu{
	  left: 23%;
	  min-width: 185px;
	  max-width: 300px;
	  background: transparent;
	  border: 0;
	  border-radius: 0;
	  box-shadow: none;
	  > li{
		margin-top: 1px;
		> a{
		  display: block;
		  padding: 9px;
		  background: #fff;
		  color: $brand-primary;
		  cursor: pointer;
		  white-space: normal;
		  transition: background 0.2s;
		  &:hover, &:focus{
			background: $brand-primary;
			color: #fff;
		  }
		}
	  }
	}
	.drop-language > .dropdown-menu{
	  left: 32%;
	  min-width: 60px;
	}
	.submenu{
		background: #fff;
		> li{
		  padding: 9px;
		}
	  }

	// header style
	#header{
	  position: relative;
	}
	.header-inner{
	  @include clearfix;
	  position: relative;
	  padding: 17px 0 15px 0;
	  background: url(../../images/pictos/bg_header_inner.jpg) center 14% no-repeat;
	  background-size: 100%;
	  .btn{
		position: absolute;
		bottom: 4px;
		right: 0;
		& + .btn{
		  right: 220px;
		}
	  }
	  p{
		@include fontSize(14);
		font-family: 'nexa_book_it';
		color: #fff;
	  }
	}
	#logo{
	  display: block;
	  float: left;
	  width: 204px;
	  max-height: 101px;
	  margin-left: calc(50% - 600px);
	  margin-top: -10px;
	  padding: 15px 20px;
	  background: #fff;
	  svg{
		display: block;
		width: 100%;
		height: 100%;
	  }
	}
	.tagline{
	  display: block;
	  float: left;
	  width: 30%;
	  padding: 0 0 0 20px;
	  background: transparent;
	  color: #fff;
	  h3{
		width: 50%;
	  }
	}
	.header-main{
	  position: relative;
	  padding: 17px 0 15px 0;
	  z-index: 20;
	  background: url("../../images/pictos/bg-main-1.jpg") center top;
	  background-size: 100%;
	  transition: background 0.5s;
	  .navigation-holder{
		margin-bottom: 48px;
	  }
	  &-holder{
		@include clearfix;
		padding-bottom: 30px;
	  }
	  #logo,
	  .tab{
		float: right;
		width: 32.3%;
		margin: 0;
	  }
	  .tab{
		margin-top: 20px;
	  }
	  #logo{
		max-height: 100%;
	  }
	  .tagline{
		width: 58.3333333%;
		margin-top: 129px;
		padding: 0;
	  }
	}

	//Tab in Header(home page)
	.tab-content{
	  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.3);
	  background: url("../../images/pictos/bg_rss.png") calc(100% - 20px) 60% no-repeat;
	}
	.tab-pane{
	  padding: 15px 20px;
	  background: rgba(0, 0, 0, 0.3);
	  h2, p{
		color: #fff;
		border-color: #fff;
		text-align: left;
	  }
	  .sub-title{
		margin-top: 8px;
		line-height: 1.2;
	  }
	  .title-underlined{
		padding-bottom: 17px;
		margin-bottom: 17px;
	  }
	  .text{
		@include fontSize(15);
		font-family: 'nexa_reg';
		line-height: 1.2;
	  }
	  .btn{
		width: 100%;
		margin-top: 23px;
		@include fontSize(30);
	  }
	}
	.nav-tabs{
	  border: 0;
	  text-align: right;
	  > li{
		position: relative;
		float: none;
		display: inline-block;
		margin: 0;
		padding: 0 8px;
		border-radius: 0;
		text-align: center;
		background: $brand-primary;
		counter-increment: my-counter;
		&:before{
		  content: counter(my-counter);
		  @include fontSize(11);
		  font-family: 'nexa_light';
		  line-height: 1;
		  color: #fff;
		}
		> a{
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  line-height: 0;
		  border: none;
		  border-radius: 0;
		  &:focus, &:hover{
			background: transparent;
		  }
		}
		&.active{
		  background: #fff;
		  transform: translateY(-1px);
		  padding: 3px 8px 0;
		  &:before{
			@include fontSize(15);
			color: $brand-primary;
		  }
		  > a, a:hover, a:focus{
			background: transparent;
			border: none;
		  }
		}
	  }
	}


	//footer style
	#footer{
	  border-top: 20px solid $brand-secondary;
	  background: #edf0f2;
	  background-image: linear-gradient(to right, #f6f8f9 50%, #edf0f2 50%);
	  h4{
		font-family: 'nexa_heavy_it';
	  }
	  ul, ul a{
		color: $gray-light;
	  }
	  a:hover{
		color: $brand-primary;
	  }
	  .logo{
		display: block;
		margin-top: 53px;
	  }
	}
	.footer-column{
	  overflow: hidden;
	  padding: 40px 0 0 20px;
	  background: #edf0f2;
	  &.first-column{
		background: #f6f8f9;
		padding-right: 20px;
		p + h4{
		  margin-top: 32px;
		}
	  }
	}
	.second-column .footer-column,
	.footer-column.third-column{
	  margin-left: -20px;
	}
	.footer-bottom{
	  padding: 16px 0;
	  background: #fff;
	  a{
		color: $gray-light;
		text-decoration: underline;
	  }
	  p{
		float: right;
		margin: 0;
		&:first-of-type{
		  float: left;
		}
	  }
	}
	.footer-list{
	  float: left;
	  width: 50%;
	  font-family: 'nexa_book_it';
	  &:last-child{
		> li:first-child{
		  width: 65%;
		  padding-top: 20px;
		  border-top: 1px solid $gray-light;
		}
	  }
	  .title{
		text-transform: uppercase;
		margin-bottom: 2px;
		color: $gray-base;
		font-style: italic;
	  }
	}
	.partner-link-dimeca,
	.partner-link-difatec{
	  display: block;
	  padding: 21px 0 12px 0;
	  background: url("../../images/pictos/bg_footer.png") no-repeat;
	  background-position: 0 0;
	}
	.partner-link-difatec{
	  padding-top: 38px;
	  background-position: 0 -73px;
	}
	.contact-list{
	  margin-top: 20px;
	  font-family: 'nexa_book_it';
	  > li{
		display: table;
		span[class^="icon-"]{
		  display: table-cell;
		  padding-right: 19px;
		  vertical-align: middle;
		  @include fontSize(25);
		  color: $gray-light;
		}
		& + li{
		  margin-top: 5px;
		}
		a, span{
		  display: table-cell;
		  vertical-align: middle;
		}
	  }
	}

	@media all and (max-width: 1199px){
	  .header-inner{
		padding-bottom: 4px;
		background: url(../../images/pictos/bg_header_inner.jpg) center 36% no-repeat;
		background-size: 100%;
		p{
		  margin-top: 10px;
		}
		.btn{
		  right: 40px;
		  bottom: 15px;
		  & + .btn{
			bottom: 70px;
		  }
		}
	  }
	  .navigation-holder{
		float: right;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		width: 57%;
		padding-left: 10px;
	  }
	  .dropdown,
	  .menu-link{
		width: 100%;
		text-align: center;
	  }
	  .dropdown-menu{
		left: 22%;
	  }
	  .drop-language > .dropdown-menu {
		left: 32%;
	  }
	  #logo{
		margin: 52px 0 0;
	  }
	  .tagline{
		width: 30%;
		margin-top: 32px;
		h3{
		  width: 100%;
		}
	  }
	  .header-main{
		background-size: cover;
		#logo{
		  width: 44%;
		  width: calc(44% - 10px);
		  float: left;
		  margin-top: 3px;
		}
		.tagline{
		  width: 75%;
		  margin: 38px 0 6px 0;
		}
		.tab{
		  float: none;
		  width: 100%;
		  overflow: hidden;
		}
		p.sub-title-big{
		  margin-top: 4px;
		}
		&-holder{
		  padding-bottom: 15px;
		}
	  }
	  .tab-content{
		background: none;
	  }
	  .tab-pane{
		overflow: hidden;
		.text{
		  width: 51%;
		  float: left;
		  padding-right: 10px;
		}
		.btn{
		  display: block;
		  max-width: 100%;
		  width: calc(49% - 10px);
		  float: left;
		  margin: 0 0 0 10px;
		}
		.title-underlined{
		  margin-top: 3px;
		}
	  }
	  #footer{
		padding-top: 0;
		background: #edf0f2;
	  }
	  .second-column{
		float: right;
	  }
	  .footer-column.first-column{
		margin-left: -20px;
	  }
	}
	@media all and (max-width: 767px){
	  .navigation-holder{
		margin-top: -19px;
		padding: 0;
	  }
	  .dropdown-menu {
		position: relative;
		top: 0;
		left: 0;
		width: 133.333%;
		min-width: 320px;
		max-width: 767px;
		padding: 0;
		margin-top: 0;
		border-bottom: 1px solid $gray-base;
		> li{
		  margin-top: 0;
		  text-align: center;
		}
	  }
	  .dropdown{
		width: 75%;
		padding: 0;
		> a{
		  display: block;
		  padding: 18px 0;
		  border-bottom: 1px solid $gray-base;
		  background: #fff;
		  color: $gray-base;
		}
		&.open > a{
		  color: #fff;
		  background: $brand-primary;
		}
	  }
	  .drop-language{
		width: 25%;
		border-left: 1px solid $gray-base;
		> .dropdown-menu{
		  position: absolute;
		  top: auto;
		  left: auto;
		  right: 0;
		  width: calc(100% + 1px);
		  border-left: 1px solid $gray-base;
		}
	  }
	  .submenu > li{
		padding: 4px;
	  }
	  .header-inner{
		padding-bottom: 97px;
		background: url(../../images/pictos/bg_header_inner.jpg) 50% 100% no-repeat;
		background-size: cover;
		p{
		  margin: 10px 0 6px 0;
		}
		.btn{
		  position: static;
		  display: block;
		  width: 100%;
		  margin: 0 auto;
		  & + .btn{
			margin-top: 10px;
		  }
		}
	  }
	  #logo,
	  .header-main #logo,
	  .navigation-holder{
		float: none;
		width: calc(100% + 40px);
		margin-right: -20px;
		margin-left: -20px;
	  }
	  #logo,
	  .header-main #logo{
		height: 100px;
		margin-top: 0;
		padding: 17px 17.5px;
	  }
	  #logo{
		padding: 11px 67.5px;
		img{
		  display: block;
		  height: 100%;
		  width: auto;
		  margin: 0 auto;
		}
	  }
	  .tagline{
		width: 75%;
		padding: 0;
		margin: 20px 0;
		float: none;
	  }
	  .header-main{
		min-height: 0;
		padding-bottom: 0;
		.navigation-holder{
		  margin-bottom: 0;
		}
		.tagline{
		  margin-top: 18px;
		}
		p.sub-title-big{
		  margin-top: 11px;
		}
		.tab{
		  width: 100%;
		  width: calc(100% + 40px);
		  margin: 0 -20px -15px;
		}
	  }
	  .tab-content{
		position: relative;
	  }
	  .nav-tabs{
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		> li{
		  margin: 0 3px;
		  vertical-align: middle;
		  &:before{
			content: '';
		  }
		  > a, a:hover, a:focus{
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 1px solid #fff;
			background: transparent;
			text-indent: 9999px;
			font-size: 0;
			padding: 0;
		  }
		  &.active{
			padding: 0 8px;
			transform: none;
			> a, a:hover, a:focus{
			  background: #fff;
			  padding: 0;
			  font-size: 0;
			}
		  }
		}
	  }
	  .tab-pane{
		padding-bottom: 40px;
		.title-underlined{
		  padding-bottom: 8px;
		  margin-bottom: 11px;
		}
		.text,
		.btn{
		  float: none;
		  width: 100%;
		}
		.text{
		  @include fontSize(13);
		  font-family: 'nexa_light';
		  padding-right: 0;
		}
		.btn{
		  margin: 10px 0;
		  @include fontSize(20);
		}
	  }
	  #footer{
		> .container{
		  padding: 0;
		}
	  }
	  .footer-column{
		padding: 20px;
		&.first-column{
		  margin-left: 0;
		}
	  }
	  .second-column .footer-column,
	  .footer-column.third-column{
		margin-left: 0;
	  }
	  .footer-bottom{
		padding-bottom: 0;
		p{
		  float: none;
		  width: 100%;
		  text-align: center;
		  margin-bottom: 18px;
		}
	  }
	}


